*,
*::before,
*::after {
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

.text {
	line-height: 1.5;
	letter-spacing: 0.02em;
} 

.list {
	list-style: none;
	margin: 0;
    padding: 0;

} 

.link {
	text-decoration: none;
    }

.item {
	margin-top: 24px;
	margin-bottom: 24px;
}

p {
	margin: 0;
	padding: 0;
	line-height: 1.5;
	letter-spacing: 0.02em;
}

:root {
	--background-footer-color: #2e2f42;
	--background-primary-color: #ffffff;
	--background-secondary-color: #f4f4fd;
	--title-text-color: #2e2f42;
	--primary-text-color: #434455;
	--accent-color: #e7e9fc;
	--primary-brand-click: #4d5ae5;
	--pressed-state: #404BBF;
}

.hidden,
.section-title-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

body {
	background-color: var(--background-primary-color);
	color: var(--primary-text-color);
	font-family: Roboto, serif;
	font-size: 16px;
	letter-spacing: 0.02em;
}

.container {
	margin: 0 auto;	
	width: 1158px;
	padding-left: 15px;
	padding-right: 15px;
	/* outline: 2px solid red; */
}
.page-header {
	background-color: var(--background-primary-color);
}

.main-nav {
	display: flex;
	align-items: center;
}

.container .logo {
	text-decoration: none;
	text-transform: uppercase;
	color: #2e2f42;
	font-family: "Raleway";
	font-style: normal;
	font-weight: 800;
	font-size: 18px;
	line-height: 1.33;
	letter-spacing: 0.03em;
}
.container .logo-blue {
	color: #4d5ae5;
}
.link-current {
	color: var(--pressed-state);
}

/* Site nav */
.navigation {
	margin-left: 77px;
}

.site-nav {
	display: flex;
	}

.site-nav .item + .item {
	margin-left: 40px;
}

.site-nav .link {
	color: #2e2f42;
}
.site-nav .link:hover,
.site-nav .link:focus {
	color: var(--pressed-state);
}
.site-nav .link:active {
	color: var(--primary-brand-click);
}
.site-nav a {
	text-decoration: none;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;

	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.item-index {
	position: relative;
	padding-top: 25px;
	padding-bottom: 27px;	
}

.item-index::after {
	content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--pressed-state);
    border-radius: 4px;
}
    
.auth-nav {
	display: flex;
	margin-left: auto;
}

.auth-nav .item + .item {
	margin-left: 40px;
}

.auth-nav a {
	text-decoration: none;
	color: rgba(67, 68, 85, 1);
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;

	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.auth-nav a:hover,
.auth-nav a:focus {
	color: var(--pressed-state);
}
/* Hero */
.hero {
	background-color: var(--background-footer-color);
	text-align: center;	
	padding-bottom: 188px;
	padding-top: 188px;
	margin-left: auto;
	margin-right: auto;
	max-width: 1440px;
	height: 600px;
	background-image: linear-gradient(
		rgba(46, 47, 66, 0.7),
		rgba(46, 47, 66, 0.7)), 
		url('../image/header.jpg');	
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(46, 47, 66, 0.4);
	background: rgba(0, 0, 0, 0.2);
	transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
	opacity: 0;
	pointer-events: none;
}

.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	min-height: 576px;
	min-width: 408px;
	padding: 15px;
	border-radius: 4px;

	background-color: rgba(252, 252, 252, 1);
}

.modal-close {
	cursor: pointer;
	border-radius: 50%;
	width: 24px;
	height: 24px;
	margin-left: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: sans-serif;
	font-size: 24px;
	
	transition: translate, color, background-color, box-shadow, border,
    250ms cubic-bezier(0.4, 0, 0.2, 1);

	color: #000000;
	border: 1px solid rgba(0, 0, 0, 0.1);
}

.icon-modal-close {
	fill: currentColor;
}

.modal-close:hover {	
	transform: scale(1.05);
	color: #ffffff;	
	background-color: var(--pressed-state);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hero-title {
	width: 496px;
	margin: 0 auto;
	margin-bottom: 48px;	
	color: #ffffff;
	font-weight: 700;
	font-size: 56px;
	line-height: 1.07;	
	letter-spacing: 0.02em;
	}

.button {
	display: flex;
	margin: 0 auto;
	cursor: pointer;
	appearance: none;
	border: 0;
	border-radius: 5px;
	color: #fff;
	padding: 16px 32px;
	background-color: #4d5ae5;
	font-family: "Roboto";
	font-weight: 700;
	font-size: 16px;
	line-height: 1.19;	
	letter-spacing: 0.04em;
	text-decoration: none;
	gap: 10px;	
	
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover {
	background-color:  var(--pressed-state);
	box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);

}

.button:focus {
	background-color: var(--pressed-state);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* Section */

.section .title,
.section-secondary .title {
	color: var(--title-text-color);
	font-weight: 700;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	text-transform: capitalize;
	margin: 0;
	padding: 0;
} 

.section-title {
	margin-bottom: 72px;
	color: var(--title-text-color);
	font-size: 36px;
	line-height: 1.11;
	text-align: center;
	letter-spacing: 0.02em;
	text-transform: capitalize;
}

/* Advantages */

.advan-sec {
	padding: 120px 0;
}

.advantages-list .title {
	color: var(--title-text-color);
	margin-bottom: 8px;
}

.advantages-list {
	display: flex;
	column-gap: 20px;
}

.adv-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 264px;
	height: 112px;
	border-radius: 4px;
	background-color: #F4F4FD;
	margin-bottom: 8px;
}

.adv-icon-item {
	width: 64px;
	height: 64px;
}

.doing {
	display: flex;
}

.sec-doing {
	padding-bottom: 120px;
}

.doing .doing-item + .doing-item {
	margin-left: 24px;
}

.section-secondary {
	background-color: #f4f4fd;
	padding: 120px 0 120px 0;
}

.team-list {
	display: flex;
	justify-content: center;
}

.team-item{
    width: 264px;
    text-align: center;
    margin-right: 24px;
	background-color: #ffffff;
	box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
	border-radius: 0px 0px 4px 4px;
}

.team-item:last-child {
    margin-right: 0px;
}

.person-card-title {
	padding-top: 32px;
	padding-bottom: 32px;
	}

	.person-description {
	margin-top: 8px;	
	}	

.icon-list {
    display: flex;
    justify-content: center;
	align-items: center;
    height: 48px;
    margin-top: 12px;
	gap: 24px;
}

.team-icon-item {
    width: 40px;
    height: 40px;
    
}

.team-icon {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-brand-click);
    border-radius: 50%;

	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icon:hover {
    background-color: var(--pressed-state);
    
}



/* Customers */

.customers-icon-list {
    display: flex;
    justify-content: center;
	align-items: center;
	gap: 24px;
}

.section-customers {
	padding: 120px 0 120px 0;
}

.customers-link{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 168px;
	height: 88px;
	border: solid 1px currentColor;
	border-radius: 4px;
	color: #8E8F99;

	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover, 
.customers-link:focus {
    color: #4d5ae5;
}

.customers-icon {
	fill: currentColor;
}

/* Footer */
.footer {
	background-color: var(--background-footer-color);
	padding: 100px 0;
}

.footer .container {
	display: flex;
	align-items: baseline;
}

.footer .text {
	color: #e7e9fc;
	width: 264px;
	margin-top: 16px;
}

.footer .logo {
	display: flex;
	text-decoration: none;
	text-transform: uppercase;
	color: #f4f4fd;
	font-family: "Raleway";
	font-style: normal;
	font-weight: 800;
	font-size: 18px;
	line-height: 1.33;
	letter-spacing: 0.03em;
}
.footer .logo-blue {
	color: #4d5ae5;
}

.footer-social {
	width: 208px;
	height: 80px;
	margin-left: 120px;
}

.footer-social-title {
	color: #ffffff;
	font-weight: 500px;
	font-size: 16px;
	line-height: 1.5;
	margin-bottom: 16px;
}

.footer-social-list {
    display: flex;
    justify-content: center;
	align-items: center;
    margin-top: 12px;
	gap: 16px;
}

.footer-icon {
    width: 40px;
    height: 40px; 
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;

	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon:hover {
    background-color: #31D0AA;    
}


/* Portfolio styles */

.page-header {
	box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.port-sect {
	padding-top: 96px;
    padding-bottom: 120px;
    }

.port-list {
    display: flex;
    margin-bottom: 72px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;  
}

.list >.but-item:not(last-child) {
    margin-right: 24px;
}
.list >.but-item:last-child {
	margin-right: 0;
}

.port-button {
	color: #4d5ae5;
	background-color: #f4f4fd;
	font-family: 'Roboto';
	font-weight: 600;
	font-size: 16px;
	padding: 12px 24px;    
	line-height: 1.5;
	letter-spacing: 0.04em;
	border: 1px solid #e7e9fc;
	border-radius: 4px;
	cursor: pointer;

	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
				color 250ms cubic-bezier(0.4, 0, 0.2, 1),
				box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1)
}


.port-button:hover,
.port-button:focus {
	color: #ffffff;
	background-color:  var(--pressed-state);
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.port-work{
	display: flex;
	flex-wrap: wrap;
	column-gap: 24px;
	row-gap: 48px;
}

.port-work > .port-item {
	flex-basis: calc((100% - 48px) / 3);
	box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.port-link  {
	display: block;
	text-decoration: none;
	color: inherit;
	transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.port-item .port-link:hover,
.port-item .port-link:focus {
	box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.overlay-cont{
    position: relative;
    overflow: hidden;
}
.overlay-text {
	width: 100%;
    height: 100%;
	padding-top: 40px;
	padding-left: 32px;
	padding-right: 32px;
    background-color: #4D5AE5;
    color: #F4F4FD;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(100%);
    opacity: 0;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 2%;
}

.port-link:hover .overlay-text{
    transform: translateY(0%);
	opacity: 1;
}

.list-ready {
	border: 0.5px solid #F4F4FD;
	border-top: 0;
	padding: 32px 16px;
}

.port-title {	
	color: var(--title-text-color);
	font-weight: 700;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	text-transform: capitalize;
	margin-bottom: 8px;

}
